:root {
  --border-color: black;
  --pearl-color: brown;
}

.abacus {
	width:100%;
	height:100%;
	
	display:flex;
    border: 10px solid var(--border-color);
}
.abacus.horizontal {
	flex-direction:row;
	border-right-width:0;
}

.abacus.vertical {
	flex-direction:column;
	border-bottom-width:0;
}



.column-group{
	flex-grow:1;
	display:flex;
 	justify-content: space-around;
}

.horizontal .column-group{
	flex-direction:column;
	border-right: 10px solid var(--border-color);
}
.vertical .column-group{
	flex-direction:row;
	border-bottom: 10px solid var(--border-color);
}



.column{
	flex-grow:1;
	display:flex;
	align-items:center;
}

.horizontal .column{
	margin:5px 0;
	flex-direction: row;
	background-image: linear-gradient(to bottom, transparent 40%, black 40%, grey 52%, white 56%, black 60%, transparent 60%)
}
.vertical .column{
	margin:0 5px;
	flex-direction: column;
	background-image: linear-gradient(to right, transparent 40%, black 40%, grey 52%, white 56%, black 60%, transparent 60%)
}



 .pearl{
 	background-color: var(--pearl-color);
 	background-image: radial-gradient(#fff4 0%, transparent 40%, black 85%);
 	border-radius:50%;
 } 

 
 .spacer{
 	transition: all 300ms;
 }
 .spacer.active{
 	flex-grow:1;
 }
 
 .counter-group{
 	display:flex;
 	justify-content: space-around;
 }
 .horizontal .counter-group{
 	flex-direction: column;
 }
 .vertical .counter-group{
 	flex-direction: row;
 }
 
 
 